.elgg-table .payments-transaction td img,
.payments-table td img {
	width: auto;
	height: 1em;
}

.payments-order-table .payments-order-item-price {
    text-align: center;
}

.payments-order-table td, .payments-order-table th {
    text-align: center;
}

.payments-order-table .payments-order-item-description {
    text-align: left;
}

.payments-order-table .payments-order-subtotal td:first-child,
.payments-transaction-payments-balance td:first-child {
    text-align: right;
}

.payments-order-table .payments-order-subtotal {
    font-size: 90%;
    background: #f1f1f1;
}

.payments-order-table .payments-order-total td,
.payments-transaction-payments-balance td {
    font-size: 110%;
    font-weight: bold;
}

.payments-order-table .payments-order-total {
    background: #f1f1f1;
}

.payments-order-table .payments-order-total td:first-child {
    text-align: right;
}

.payments-order-charges-included {
	font-size: 90%;
	font-style: italic;
}